<footer>
    <div>
        <a href="">
            
        </a>
    </div>
</footer>
{% schema %}
{
   "name": "Moo footer",
   "settings" : [
    {
        "type" : "link_list",
        "id": "footer_menu",
        "label" : "Footer Menu"
    }
   ],
   "presets": [
        {
            "name": "Moo footer"
        }
    ]
}
{% endschema %}