.shop_look__header {
    text-align: center;
}
.shop_look {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 62%;
    margin: 0 auto;
    border: 3px solid #000;
    border-radius: 7px;
    outline: 4px solid #E8EFFA;
}
.shop_look_right_block {
    display: flex;
    justify-content: space-between;
}
.shop_look_product_title {
    font-size: 17px;
    font-weight: 600;
    padding: 0px 15px;
}
.shop_look_product {
    margin: 0;
    position: absolute;
    right: 23%;
    -ms-transform: translateY(-50%);
    transform: translateY(62%);
}
.imgs_1 {
    position: relative;
    bottom: -50%;
    left: 20%;
}
.imgs_2 {
    position: relative;
    left: 1%;
    background-color: transparent;
}
.imgs_3 {
    position: absolute;
    left: 24%;
    bottom: 8%;
    z-index: 3;
    background-color: transparent;
}
.imgs_4 {
    position: relative;
    left: 61%;
    top: -7%;
}
@media screen and (min-width:240px) and (max-width:767px) { 
    .shop_look_img_block img {
        width: 100%;
    }
    .shop_look_img_block {
        display: contents;
    }
    .imgs_1 {
        position: relative;
        bottom: -50%;
        left: 20%;
    }
    .imgs_2 {
        position: unset;
        left: unset;
    }
    .imgs_3 {
        position: unset;
        left: unset;
        bottom: unset;
        z-index: unset;
    }
    .imgs_4 {
        position: unset;
        left: unset;
        top: unset;
    }
    .shop_look{
        width: 100%;
    }
    .shop_look_product {
        margin: 0;
        position: relative;
        right: -26%;
        top: -59%;
        -ms-transform: translateY(57%);
        transform: translateY(57%);
    }
}