.shop_look__header {
    text-align: center;
}
.shop_look {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 62%;
    margin: 0 auto;
}
.shop_look_right_block {
    display: flex;
    justify-content: space-between;
}
.shop_look_product_title {
    font-size: 13px;
    font-weight: 600;
}